<!--Header-->
<div id="header" class="fluid-row" style="max-width: 910px; margin-left: auto; margin-right: auto">
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 5px">
        <div class="col-md-7">
            <img src="https://private.dscienceawards.com/img/DSA-logo.svg" alt="Logo DSA" class="img-responsive"  width="50%" height="30%">
        </div>
        <div class="col-md-5">
            <h1 style="margin:5px 0px 0px;font-size: 30px; font-family:helvetica">Sport Analytics Contest</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #00AAEE;padding: 10px 20px;">
        <div class="col-md-6">
            <div style="text-align:center;"> </div>
        </div>
    </div>
</div>
<!--/Header-->
